/* --- @media --- */

/*  --- Extra large devices (large desktops, 1200px and up) --- */

@media screen and (min-width: 1681px)
  .container
    &--nav
      width: 100%

@media screen and (min-width: 1201px) and (max-width: 1680px)
  .container
    width: 1200px
    &--nav
      padding: 0 30px

  .nav-menu
    &__item
      font-weight: 400
    &__link
      padding: 0 6px

  .btn--nav
    padding: 18px 35px

  .banner
    &-head
      font-size: 22px
    &-info
      font-size: 73px
    &-descr
      font-size: 22px

  .btn--contact
    //margin: 50px 0 20px

  .portfolio-slider__buttons
    right: 39%

/*  --- Large devices (desktops, 992px and up) --- */

@media screen and (min-width: 992px) and (max-width: 1200px)
  .container
    width: 900px
    &--nav
      padding: 0 10px
    &--banner
      padding: 5% 20px

  .nav
    line-height: 80px
    &-menu
      &__item
        font-weight: 400
      &__link
        font-size: 12px
        padding: 0px 8px
    &-logo
      top: 9%

  .btn
    &--nav
      font-size: 12px
      padding: 10px 30px
    &--banner
      font-size: 18px
      font-weight: 400
      margin-top: 5%
      padding: 23px 44px 23px 44px
      &:after
        top: -10px
        right: -10px
        left: -10px
        bottom: -10px
      &:before
        top: -10px
        right: -10px
        left: -10px
        bottom: -10px

  .banner
    &-head
      font-size: 18px
    &-info
      font-size: 56px
      line-height: 120%
      margin: 5% 0 5%
    &-descr
      font-size: 18px
      font-weight: 300
      line-height: 30px

/*  --- Medium devices (tablets, 768px and up) --- */



/*  --- Small devices (landscape phones, 576px and up) --- */
 