@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i");
@import url("https://fonts.googleapis.com/css?family=Oswald:700");
@import url(./normalize.css);
@import url(../libs/slick-carousel/slick/slick.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  overflow-x: hidden;
  background-color: #ffffff;
  color: #606f85;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 17px; }

input::-webkit-input-placeholder {
  color: #fff; }

input::-moz-placeholder {
  color: #fff; }

input:-ms-input-placeholder {
  color: #fff; }

input::-ms-input-placeholder {
  color: #fff; }

input::placeholder {
  color: #fff; }

textarea::-webkit-input-placeholder {
  color: #fff; }

textarea::-moz-placeholder {
  color: #fff; }

textarea:-ms-input-placeholder {
  color: #fff; }

textarea::-ms-input-placeholder {
  color: #fff; }

textarea::placeholder {
  color: #fff; }

/* --- header --- */
.header {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc52a8), to(#7442bc));
  background: -webkit-linear-gradient(top, #bc52a8, #7442bc);
  background: -o-linear-gradient(top, #bc52a8, #7442bc);
  background: linear-gradient(to bottom, #bc52a8, #7442bc); }

/* --- container width&style --- */
.container {
  padding: 140px 20px 140px;
  margin: 0 auto; }
  .container--nav {
    width: 1920px;
    padding: 0 20px; }
    .container--nav:after {
      content: "";
      display: table;
      clear: both; }
  .container--banner {
    width: 1080px; }
  .container--about {
    width: 910px; }
  .container--services {
    width: 1680px; }
  .container--contact {
    width: 910px; }

/* --- navigation --- */
.nav {
  width: 100%;
  line-height: 100px; }

.nav-menu {
  float: left; }
  .nav-menu__item {
    display: inline;
    font-weight: 600; }
  .nav-menu__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 12px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .nav-menu__link:hover {
      font-size: 17px;
      color: #b951a9;
      background-color: #fff;
      -webkit-border-radius: 6px;
              border-radius: 6px; }

.nav-logo {
  width: 200px;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto; }

.nav-btn {
  float: right;
  font-family: "Poppins", Arial, sans-serif; }

/* --- banner --- */
.banner {
  text-align: center; }
  .banner-head {
    opacity: 0.5;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase; }
  .banner-info {
    display: block;
    color: #ffffff;
    font-size: 76px;
    line-height: 90px;
    margin: 31px 0 22px; }
  .banner-descr {
    display: block;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 42px;
    padding: 0 65px;
    margin-bottom: 58px; }

/* --- buttons style --- */
.btn {
  display: inline-block;
  -webkit-border-radius: 53px;
          border-radius: 53px;
  font-family: "Poppins", Arial, sans-serif;
  position: relative; }
  .btn--nav {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-border-radius: 27px;
            border-radius: 27px;
    border: 2px solid #ffffff;
    text-decoration: none;
    padding: 20px 40px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .btn--nav:hover {
      color: #b951a9;
      background-color: #fff;
      font-size: 17px; }
  .btn--banner {
    background-color: #ffffff;
    text-decoration: none;
    color: #673fbf;
    font-size: 24px;
    font-weight: 600;
    padding: 43px 64px 43px 64px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .btn--banner:after {
      content: '';
      position: absolute;
      top: -20px;
      right: -20px;
      left: -20px;
      bottom: -20px;
      background-color: rgba(255, 255, 255, 0.25);
      -webkit-border-radius: 73px;
              border-radius: 73px;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .btn--banner:before {
      content: '';
      position: absolute;
      top: -20px;
      right: -20px;
      left: -20px;
      bottom: -20px;
      background-color: rgba(255, 255, 255, 0.25);
      -webkit-border-radius: 73px;
              border-radius: 73px;
      opacity: 0;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
  .btn--about {
    background-color: #673fbf;
    -webkit-box-shadow: 0 17px 25px rgba(122, 135, 157, 0.39);
            box-shadow: 0 17px 25px rgba(122, 135, 157, 0.39);
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 41px 63px;
    margin: 60px 0 100px; }
  .btn--contact {
    background-color: #ffffff;
    color: #673fbf;
    padding: 41px 63px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin: 60px 0 100px; }

/* --- pulse button --- */
.btn--banner:hover::after {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 73px;
          border-radius: 73px;
  opacity: 1;
  -webkit-animation: btn--banner 1s linear infinite;
          animation: btn--banner 1s linear infinite; }

.btn--banner:hover::before {
  opacity: 1; }

.btn--banner:hover::before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

@-webkit-keyframes btn--banner {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0; }
  50% {
    opacity: 0.7; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0; } }

@keyframes btn--banner {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0; }
  50% {
    opacity: 0.7; }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0; } }

/* --- pulse button end --- */
/* --- slick slider --- */
.slick-active {
  opacity: 1; }

.slick-slide {
  opacity: 0.3; }

.slick-list {
  overflow: visible; }

.slick-prev, .slick-next {
  position: relative;
  top: -35px;
  margin: 10px 70px;
  padding: 7px 0;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(99, 111, 133, 0.25); }

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px; }

.slick-dots li button {
  color: transparent;
  border: 0;
  background: transparent; }

.slick-dots li button:before {
  position: absolute;
  top: 7px;
  left: 7px;
  content: '';
  width: 6px;
  height: 6px;
  background-color: #606f85;
  opacity: 0.25; }

.slick-dots li.slick-active button:before {
  opacity: .75; }

/* --- slick dots end --- */
/* --- title & text style --- */
.title {
  position: relative;
  text-align: center;
  color: #29384d;
  font-size: 42px;
  font-weight: 600;
  padding: 0 30px;
  line-height: 52px; }
  .title--texted {
    padding-top: 24px; }
    .title--texted:before {
      content: 'HOW WE CAN HELP YOU';
      position: absolute;
      top: -30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      color: #673fbf;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase; }
  .title:after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background-color: #673fbf;
    margin: 49px auto; }
  .title--services {
    color: #ffffff; }
    .title--services:after {
      background-color: #fff; }
  .title--contact {
    margin: 0 50px;
    color: #ffffff; }
    .title--contact:after {
      background-color: #fff; }

.text {
  padding: 10px 0;
  line-height: 32px;
  text-align: center; }
  .text-services {
    width: 540px;
    margin: 0 auto;
    color: #fff;
    font-weight: 300; }
  .text-portfolio {
    width: 500px;
    margin: 0 auto; }

/* --- section about & about__client --- */
.about {
  background-image: -webkit-linear-gradient(120deg, #eff5fa 0%, #fff 80%, #fff 100%);
  background-image: -o-linear-gradient(120deg, #eff5fa 0%, #fff 80%, #fff 100%);
  background-image: linear-gradient(330deg, #eff5fa 0%, #fff 80%, #fff 100%);
  text-align: center; }
  .about__img {
    margin: 40px 0 10px; }
  .about__client {
    margin-bottom: 50px;
    width: 870px;
    height: 385px;
    -webkit-box-shadow: 0 20px 45px rgba(122, 135, 157, 0.06);
            box-shadow: 0 20px 45px rgba(122, 135, 157, 0.06);
    -webkit-border-radius: 6px;
            border-radius: 6px;
    background-color: #ffffff;
    position: relative; }
    .about__client_info {
      padding: 109px 95px 0px; }

.client {
  padding-top: 39px;
  font-weight: 600; }
  .client_photo {
    width: 128px;
    height: 128px;
    background-color: #74328e;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    top: -17%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .client_name {
    color: #673fbf; }
  .client_position {
    color: #29384d; }

.quotes {
  position: relative;
  top: 35px;
  left: -55%; }

/* --- section services --- */
.services {
  background: -webkit-linear-gradient(75deg, #3c334c 25%, #383047 25%, #383047 63%, #3c334c 63%);
  background: -o-linear-gradient(75deg, #3c334c 25%, #383047 25%, #383047 63%, #3c334c 63%);
  background: linear-gradient(15deg, #3c334c 25%, #383047 25%, #383047 63%, #3c334c 63%);
  text-align: center; }
  .services__item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 90px 30px;
    width: 370px;
    height: 332px;
    -webkit-box-shadow: 0 11px 35px rgba(34, 34, 34, 0.44);
            box-shadow: 0 11px 35px rgba(34, 34, 34, 0.44);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #ffffff;
    position: relative; }
    .services__item_icon {
      position: absolute;
      top: -17%;
      left: 30%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 109px;
      height: 109px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #673fbf;
      text-align: center;
      padding-top: 38px; }
    .services__item_heading {
      padding: 87px 155px 0 41px;
      color: #29384d;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px; }
    .services__item_text {
      padding: 20px 54px 40px 40px;
      color: #606f85;
      font-weight: 300;
      line-height: 32px; }

/* --- section portfolio --- */
.portfolio {
  background: -webkit-linear-gradient(60deg, #eff5fa 0%, #fff 80%, #fff 100%);
  background: -o-linear-gradient(60deg, #eff5fa 0%, #fff 80%, #fff 100%);
  background: linear-gradient(30deg, #eff5fa 0%, #fff 80%, #fff 100%); }
  .portfolio-box {
    position: relative;
    margin-top: 40px; }
  .portfolio__item {
    display: block !important;
    position: relative;
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
    width: 1170px !important;
    height: 587px;
    -webkit-box-shadow: 0 25px 35px rgba(34, 34, 34, 0.11);
            box-shadow: 0 25px 35px rgba(34, 34, 34, 0.11);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #ffffff;
    vertical-align: top; }
    .portfolio__item-info {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      padding: 64px 44px 10px; }
      .portfolio__item-info_icon {
        width: 77px;
        height: 77px;
        background-color: #188afd;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        padding-top: 20px;
        padding-left: 24px; }
      .portfolio__item-info_heading {
        color: #29384d;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        padding: 30px 0; }
      .portfolio__item-info_text {
        text-align: left;
        padding-bottom: 28px; }
      .portfolio__item-info_skills {
        display: block;
        float: left;
        color: #29384d; }
    .portfolio__item-img {
      display: inline-block;
      float: left;
      width: 50%; }

.portfolio-slider__buttons {
  position: absolute;
  bottom: 20px;
  right: 42.8%; }
  .portfolio-slider__buttons .slick-prev, .portfolio-slider__buttons .slick-next {
    margin: 0 5px; }

.skills {
  float: left;
  margin-right: 10px;
  padding: 5px 13px 5px 14px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid #606f85;
  color: #29384d;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase; }

/* --- section contact --- */
.contact {
  background: -webkit-gradient(linear, right bottom, left top, from(#7542bb), color-stop(80%, #c75eb4), to(#c75eb4));
  background: -webkit-linear-gradient(bottom right, #7542bb 0%, #c75eb4 80%, #c75eb4 100%);
  background: -o-linear-gradient(bottom right, #7542bb 0%, #c75eb4 80%, #c75eb4 100%);
  background: linear-gradient(to top left, #7542bb 0%, #c75eb4 80%, #c75eb4 100%);
  text-align: center; }

.form-field {
  position: relative;
  margin: 20px; }
  .form-field__icon {
    position: absolute;
    top: 24px;
    left: 20px; }

.form-control {
  width: 100%;
  height: 64px;
  padding: 11px 30px 10px 50px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 300;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  background-color: transparent; }
  .form-control_texted {
    min-height: 125px;
    padding-top: 17px;
    resize: none; }
