* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  overflow-x: hidden;
  background-color: #ffffff;
  color: #606f85;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 17px; }

/* --- header --- */
.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bc52a8), to(#7442bc));
  background-image: -webkit-linear-gradient(top, #bc52a8, #7442bc);
  background-image: -o-linear-gradient(top, #bc52a8, #7442bc);
  background-image: linear-gradient(to bottom, #bc52a8, #7442bc); }

/* --- navigation --- */
.container {
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto; }
  .container--nav {
    width: 1920px; }
    .container--nav:after {
      content: "";
      display: table;
      clear: both; }
  .container--banner {
    width: 1080px; }
  .container--about {
    width: 870px; }

.nav {
  width: 100%;
  line-height: 152px; }

.nav-menu {
  width: 40%;
  float: left; }
  .nav-menu__item {
    display: inline;
    font-weight: 400; }
  .nav-menu__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 25px; }

.nav-logo {
  width: 20%;
  display: inline-block;
  text-align: center; }
  .nav-logo__link {
    text-decoration: none;
    color: #ffffff;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase; }
  .nav-logo__img {
    width: 24px;
    height: 24px; }

.nav-btn {
  display: inline-block;
  float: right;
  text-align: right;
  font-family: "Poppins",  Arial, sans-serif;
  width: 40%; }
  .nav-btn a {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-border-radius: 27px;
            border-radius: 27px;
    border: 2px solid #ffffff;
    text-decoration: none;
    padding: 20px 40px; }

/* --- banner --- */
.banner {
  text-align: center;
  /* text-style */ }
  .banner-head {
    opacity: 0.5;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 142px; }
  .banner-info {
    display: block;
    color: #ffffff;
    font-size: 76px;
    line-height: 90px;
    margin-top: 31px;
    margin-bottom: 22px; }
  .banner-descr {
    display: block;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 42px;
    padding: 0 65px;
    margin-bottom: 58px; }

/* --- buttons style --- */
.btn {
  display: inline-block;
  width: 526px;
  height: 105px;
  -webkit-border-radius: 53px;
          border-radius: 53px;
  font-family: "Poppins",  Arial, sans-serif;
  position: relative; }
  .btn-banner {
    background-color: #ffffff;
    text-decoration: none;
    color: #673fbf;
    font-size: 24px;
    font-weight: 600;
    padding-top: 43px;
    padding-right: 64px;
    padding-bottom: 43px;
    padding-left: 64px;
    text-transform: uppercase; }
    .btn-banner:after {
      content: '';
      display: block;
      position: absolute;
      top: -19px;
      right: 0px;
      left: -20px;
      bottom: 0;
      width: 566px;
      height: 145px;
      -webkit-border-radius: 73px;
              border-radius: 73px;
      background-color: #ffffff;
      opacity: 0.25; }
  .btn-about {
    background-color: #673fbf;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 41px;
    padding-right: 64px;
    padding-bottom: 43px;
    padding-left: 64px;
    margin-top: 60px;
    margin-bottom: 100px; }

/* --- section about --- */
.about {
  background-image: -webkit-linear-gradient(120deg, #eff5fa 0%, #fff 80%, #fff 100%);
  background-image: -o-linear-gradient(120deg, #eff5fa 0%, #fff 80%, #fff 100%);
  background-image: linear-gradient(330deg, #eff5fa 0%, #fff 80%, #fff 100%);
  text-align: center;
  margin-top: 140px; }
  .about-preheading {
    color: #673fbf;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase; }
  .about-text {
    line-height: 32px;
    padding: 0 10px; }
  .about-img {
    margin-top: 40px;
    margin-bottom: 10px; }

h2 {
  color: #29384d;
  font-size: 42px;
  font-weight: 600;
  padding: 0 30px;
  margin-top: 24px; }
  h2:after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background-color: #673fbf;
    margin: 49px auto; }
