/* --- @media --- */
/*  --- Extra large devices (large desktops, 1200px and up) --- */
@media screen and (min-width: 1681px) {
  .container--nav {
    width: 100%; } }

@media screen and (min-width: 1201px) and (max-width: 1680px) {
  .container {
    width: 1200px; }
    .container--nav {
      padding: 0 30px; }
  .nav-menu__item {
    font-weight: 400; }
  .nav-menu__link {
    padding: 0 6px; }
  .btn--nav {
    padding: 18px 35px; }
  .banner-head {
    font-size: 22px; }
  .banner-info {
    font-size: 73px; }
  .banner-descr {
    font-size: 22px; }
  .portfolio-slider__buttons {
    right: 39%; } }

/*  --- Large devices (desktops, 992px and up) --- */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 900px; }
    .container--nav {
      padding: 0 10px; }
    .container--banner {
      padding: 5% 20px; }
  .nav {
    line-height: 80px; }
    .nav-menu__item {
      font-weight: 400; }
    .nav-menu__link {
      font-size: 12px;
      padding: 0px 8px; }
    .nav-logo {
      top: 9%; }
  .btn--nav {
    font-size: 12px;
    padding: 10px 30px; }
  .btn--banner {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5%;
    padding: 23px 44px 23px 44px; }
    .btn--banner:after {
      top: -10px;
      right: -10px;
      left: -10px;
      bottom: -10px; }
    .btn--banner:before {
      top: -10px;
      right: -10px;
      left: -10px;
      bottom: -10px; }
  .banner-head {
    font-size: 18px; }
  .banner-info {
    font-size: 56px;
    line-height: 120%;
    margin: 5% 0 5%; }
  .banner-descr {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px; } }

/*  --- Medium devices (tablets, 768px and up) --- */
/*  --- Small devices (landscape phones, 576px and up) --- */
